.small{
font-size:xx-small;
}
.normal{
font-size:medium;
}
.large{
font-size:x-large;
}
.x-large{
font-size:xx-large;
}
.x-small{
font-size:10px;
}
.xx-large{
font-size:larger;
}
.xxx-large{
font-size:30px;
}

